<div>
    <aside class="content-wrapper sidebarLeft">
        <div class="content container-fluid sidebarRight animated fadeInUp collapse">

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="panel panel-white border-top-green">
                        <div class="panel-heading">
                            <h3 *ngIf="member" class="panel-title">Member : {{member.firstName + ' ' + member.lastName + ' [' + member.cardNumber + ']'}}</h3>
                            <h3 *ngIf="book" class="panel-title">Book : {{book.title + ' [' + book.isbn + ']'}}</h3>
                        </div>

                        <div class="panel-body"> 
                            <div *ngIf="!historyEntries || historyEntries.length == 0" class="panel-heading">
                                <h3 class="panel-title">No history.</h3>
                            </div>
                            <div *ngFor='let entry of historyEntries' class="fancy-collapse-panel">
                                <div class="panel-group">
                                    <div class="panel " [ngClass]=" {'panel-danger' : !entry.returnedOn, 'panel-success' : entry.returnedOn } ">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                {{entry.returnedOn ? 'Returned at: ' + (entry.returnedOn | date:'medium') : 'Borrowed at: ' + (entry.borrowedOn | date:'medium')}}
                                            </h4>
                                        </div>
                                        <table class="table table-hover table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Borrowed date: </td>
                                                    <td>{{entry.borrowedOn ? (entry.borrowedOn | date:'medium') : null }}</td>
                                                </tr>
                                                <tr *ngIf="book">
                                                    <td>Borrowed to member: </td>
                                                    <td>{{getMemberName(entry)}} 
                                                        <div class="controls pull-right"> 
                                                            <button [routerLink]="['/members/' + entry.Member.cardNumber]" class="btn btn-info btn-xs" type="button">View member</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="member">
                                                    <td>Borrowed book: </td>
                                                    <td>{{entry.Book.title}} 
                                                        <div class="controls pull-right"> 
                                                            <button [routerLink]="['/books/' + entry.Book._id]" class="btn btn-info btn-xs" type="button">View book</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Should be returned by: </td>
                                                    <td>{{entry.Book.currentStatus.toBeReturnedOnDate ? (entry.Book.currentStatus.toBeReturnedOnDate | date:'mediumDate') : null}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>
