<div class="fancy-collapse-panel">
    <div class="panel-group">
        <div class="panel panel-default">

            <div *ngIf="!editable" class="panel panel-default">
                <ul class="list-group"> 
                    <li class="list-group-item" *ngFor='let item of items'>
                        {{item}}
                    </li>
                </ul>
            </div>

            <div *ngIf="editable" class="panel panel-default">
                <ul class="list-group"> 
                    <li class="list-group-item" *ngFor='let item of items'>
                        <div class="input-group">
                            <input type="text" class="form-control input" id="inputCurrentItem2"  name="inputCurrentItem2"
                                [value]="item" >

                            <span *ngIf="editable" class="input-group-btn">
                                <a class="btn btn-danger" (click)="removeItem(item)">Remove</a>
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group">
                            <input type="text" class="form-control input" id="inputCurrentItem" placeholder="..."  name="inputCurrentItem"
                                [value]="currentItem" [(ngModel)]="currentItem">

                            <span class="input-group-btn">
                                <a class="btn btn-success" (click)="addItem()">Add</a>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>