<div>
    <aside class="content-wrapper register-panel">
        <div class="content container-fluid sidebarRight animated fadeInUp collapse">
            <div class="row">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-sm-4 col-md-4">
                    <div class="panel panel-white border-top-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">Register</h3>
                        </div>

                        <div class="panel-body">
                            <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                                <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                    <label for="firstName" class="control-label">First Name</label>
                                    <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" placeholder="Enter name" #firstName="ngModel" required />
                                    <span class="fa fa-user form-control-feedback form-right-icon"></span>
                                    <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
                                </div>
                                <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                    <label for="lastName" class="control-label">Last Name</label>
                                    <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" placeholder="Enter last name" #lastName="ngModel" required />
                                    <span class="fa fa-user form-control-feedback form-right-icon"></span>
                                    <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
                                </div>
                                <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                    <label for="email" class="control-label">Email</label>
                                    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" placeholder="Enter email" #email="ngModel" required />
                                    <span class="fa fa-send form-control-feedback form-right-icon"></span>
                                    <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                                </div>
                                <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                    <label for="password" class="control-label">Password</label>
                                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Enter password" #password="ngModel" required />
                                    <span class="fa fa-unlock-alt form-control-feedback form-right-icon"></span>
                                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                                </div>
                                <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !photoUrl.valid }">
                                    <label for="photoUrl" class="control-label">Photo URL</label>
                                    <input type="photoUrl" class="form-control" name="photoUrl" [(ngModel)]="model.photoURL" placeholder="Enter photo URL" #photoUrl="ngModel" required />
                                    <span class="fa fa-image form-control-feedback form-right-icon"></span>
                                    <div *ngIf="f.submitted && !photoUrl.valid" class="help-block">Photo Url is required</div>
                                </div>
                                <div class="form-group">
                                    <button [disabled]="loading" class="btn btn-primary">Register</button>
                                    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                                </div>
                                <div *ngIf="showErrorMessage" class="error-text">{{errorMessage}}</div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4"></div>
            </div>
        </div>
    </aside>
</div>