<div>
    <aside class="content-wrapper login-panel">
        <div class="content container-fluid sidebarRight animated fadeInUp collapse">
            <div class="row">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-sm-4 col-md-4">
                    <div class="panel panel-white border-top-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">Login</h3>
                        </div>
                        <div class="panel-body">
                            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                                <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                    <label for="username" class="control-label">Email</label>
                                    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" placeholder="Enter username" #username="ngModel" required />
                                    <span class="fa fa-user form-control-feedback form-right-icon"></span>
                                    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                                </div>
                                <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                    <label for="password" class="control-label">Password</label>
                                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Enter password" #password="ngModel" required />
                                    <span class="fa fa-unlock-alt form-control-feedback form-right-icon"></span>
                                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                                </div>
                                <div class="form-group">
                                    <button [disabled]="loading" class="btn btn-primary">Login</button>
                                    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
                                </div>
                                <div *ngIf="showErrorMessage" class="error-text">{{errorMessage}}</div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4"></div>
            </div>
        </div>
    </aside>
</div>