<div class="fancy-collapse-panel">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" (click)="isCollapsedContent = !isCollapsedContent">
                <h4 class="panel-title">
                    Filter
                </h4>
            </div>
            <div class="panel-collapse" *ngIf="isCollapsedContent">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group" *ngFor="let field of fieldDescriptions">
                            <label for="inputIsbn" class="col-sm-2 control-label">{{field.label}}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="{{field.label}}" name="{{field.label}}"
                                        [value]="field.value" [(ngModel)]="field.value" (keyup)="filter()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>